<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>Servlets.ServletLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistro</servlet-name>
        <servlet-class>Servlets.ServletRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPost</servlet-name>
        <servlet-class>Servlets.ServletPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPreferencias</servlet-name>
        <servlet-class>Servlets.ServletPreferencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>Servlets.ServletUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/ServletLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistro</servlet-name>
        <url-pattern>/ServletRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPost</servlet-name>
        <url-pattern>/ServletPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPreferencias</servlet-name>
        <url-pattern>/ServletPreferencias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/ServletUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
